/**
 * Base Settings
 */
$gemini-base: (
  background-color: #EEE,
  color:            #444,
  brand-color:      #2280A7,
  secondary-color:  #ED8043,
  link-color:       #2280A7,
  font-size:        18px,
  line-height:      1.4,
  border-radius:    4px,
  font-directory:   "../fonts",
  image-directory:   "../images",
  brand-font-family: unquote('"Avenir Next", "Helvetica Neue", sans-serif'),
);

// For use within this file
@function base($key) {
  @return map-get($gemini-base, $key);
}

$gemini-screens: (
  medium:       481px,
  large:        1024px,
  xlarge:       1200px,
);

/**
 * Modules
 */
$gemini-use: (
  grid: true,
  nav: true,
  buttons: true,
  icons: true,
  link-complex: true,
  block-list: true,
  rules: true,
  colors: true,
  stats: true,
  copy: true,
);

$gemini-colors: (
  darkerest-gray:    rgb(25,25,25),
  darkest-gray:      rgb(51,51,51),
  darker-gray:       rgb(76,76,76),
  dark-gray:         rgb(102,102,102),
  gray:              rgb(127,127,127),

  //Light grays are higher on the grayscale (they're used more often)
  light-gray:        rgb(200,200,200),
  lighter-gray:      rgb(214,214,214),
  lightest-gray:     rgb(228,228,228),
  lighterest-gray:   rgb(242,242,242),
);

/**
 * Buttons
 */
$gemini-buttons: (
  color: base(brand-color),
  background-color: transparent,
  padding-ends: 0.4em,
  padding-sides: 0.5em,
  border-width: 1px,
  border-color: base(brand-color),
  border-radius: 0,
);
