{% block html_head_container %}
{% include 'head.twig' %}
  {% block head %}
  {% endblock %}
{% endblock %}
  <body class="{{body_class}}">

    <div id="js-wrap" class="box-wrap">

      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}


      <section role="main">
        {% if title %}<h1>{{title}}</h1>{% endif %}
          {% block content %}
            Sorry, no content
          {% endblock %}
        {% if sidebar %}
          <aside class="{{sidebar_class}}">
            {{sidebar}}
          </aside>
        {% endif %}
      </section>

      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}

    </div>

    {{ function('wp_footer') }}
  </body>
</html>
