<header class="box box-shadow pad-half-top rule rule--secondary">

  <div class="l-row">
    <div class="l-column push-none-bottom">

      {# TOP BUTTONS #}
      <div class="l-row box pad-half-bottom">
        <div class="l-column--medium-6">
          <button id="js-menu-button" class="button round">
            <i class="menu-icon"></i>&nbsp;
            <span class="button__baseline">Menu</span>
          </button>

          <div class="text-input-prefix">
            <span class="text-input-prefix__icon">
              <i class="icon--search"></i>
            </span>
            <input type="text" class="text-input text-input--clean" placeholder="Search">
          </div>
        </div>

        <div class="l-column--medium-6 align-right">
          {% include 'headerUser.twig' %}
        </div>
      </div>

      <hr class="rule rule--light push-half-bottom">

      <div class="l-row push-half-bottom">
        <div class="l-column--medium-4">
          <a href="/" title="{{site.name}}" rel="home">
            <img src="{{site.theme.link}}/dist/images/logo.svg" alt="Harvest Logo">
          </a>
        </div>
        <div class="l-column--medium-8">
          <nav role="navigation">
            <ul class="nav nav--primary">
            {% for item in short_menu.items %}
              <li data-menu-item-id="{{item.ID}}"
                  data-menu-item-type="{{item.type}}"
                  data-menu-item-object="{{item.object}}">
                <a href="{{item.link}}">{{item.title}}</a>
              </li>
            {% endfor %}
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>

</header>

<div id="js-full-menu" class="box-sidebar box-dark">
  <h2 class="rule pad-half-sides">MENU</h2>

  <ul class="block-list block-list--sides">
  {% for item in menu.items %}
    <li data-menu-item-id="{{item.ID}}"
        data-menu-item-type="{{item.type}}"
        data-menu-item-object="{{item.object}}">
      <a class="block-list__link" href="{{item.link}}">{{item.title}}</a>
    </li>
  {% endfor %}
  </ul>
</div>
