{% extends "base.twig" %}

{% block content %}
  <div class="bg bg--sign pad-trip-ends">
    <div class="box-clear box--right pad">
      <h4 class="brand uppercase">Join us for Sunday service</h4>
      <p>Every <strong>Sunday</strong> at <strong>9:15pm</strong></p>
      <p class="push-none">1234 Queensway Avenue, Toronto, ON</p>
      <a class="micro" href="#">See on Google Maps</a>
    </div>
  </div>

  <div class="box box--strong-shadow">
    <div class="l-row pad-ends">
      <div class="l-column  push-none">
        <h2 class="brand-face beta uppercase align-center push-none">Glorifying God through the<br>fulfillment of the Great Commission in<br>the spirit of the Great Commandment</h2>
      </div>
    </div>
  </div>

  <div class="bg bg--jason">
    <div class="l-row pad-quint-ends">
      <div class="l-column l-column--medium-6">
        <p class="delta">We want to see Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        <button class="button button--strong button--white button--fancy gamma">Learn More</button>
      </div>
    </div>
  </div>

  <div class="box--strong-shadow pad-double-ends">
    <div class="l-row push-bottom">
      <div class="l-column l-column--medium-8 l-column--medium-push-2 align-center">
        <h3 class="brand-face hN--secondary uppercase">Get Plugged In</h3>
        <p class="epsilon align-center">You can get plugged in at Harvest by lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem consequatur culpa necessitatibus, laudantium ut velit quidem natus ipsa nulla quod consequuntur similique at perspiciatis nobis, asperiores quo! Unde velit, harum.</p>
      </div>
    </div>

    <div class="l-row">
      <div class="l-column l-column--medium-4">
        <div class="box box--shadow">
          <div class="pad">
            <div class="hgroup">
              <h6 class="hN">Step 1</h6>
              <h4 class="hN brand-face weight-normal uppercase">Meet</h4>
              <h6 class="hN"><a class="" href="#">June 14, 2015 @ 7pm</a></h6>
            </div>

            <h6 class="weight-normal micro c-light-gray uppercase push-half-bottom">
              <i class="icon--clock2"></i>
              Countdown
            </h6>

            <div class="stat-group stat-group--timer stat-group--flush delta">
              <dl class="stat">
                <dd class="stat__value stat__value--primary">
                  <span class="stat__digit">1</span>
                  <span class="stat__digit">2</span>
                </dd>
                <dt class="stat__title">days</dt>
              </dl>

              <dl class="stat">
                <dd class="stat__value">
                  <span class="stat__digit">0</span>
                  <span class="stat__digit">6</span>
                </dd>
                <dt class="stat__title">hours</dt>
              </dl>

              <dl class="stat">
                <dd class="stat__value">
                  <span class="stat__digit">1</span>
                  <span class="stat__digit">3</span>
                </dd>
                <dt class="stat__title">minutes</dt>
              </dl>
            </div>
          </div>

          <a href="#" class="button button--lead button--lead">Learn More</a>
        </div>
      </div>

      <div class="l-column l-column--medium-4">
        <div class="box box--shadow">
          <div class="pad">
            <div class="hgroup">
              <h6 class="hN">Step 2</h6>
              <h4 class="hN brand-face weight-normal uppercase">Learn</h4>
              <h6 class="hN"><a class="" href="#">June 14, 2015 @ 7pm</a></h6>
            </div>

            <h6 class="weight-normal micro c-light-gray uppercase push-half-bottom">
              <i class="icon--clock2"></i>
              Countdown
            </h6>

            <div class="stat-group stat-group--timer stat-group--flush delta">
              <dl class="stat">
                <dd class="stat__value stat__value--primary">
                  <span class="stat__digit">1</span>
                  <span class="stat__digit">2</span>
                </dd>
                <dt class="stat__title">days</dt>
              </dl>

              <dl class="stat">
                <dd class="stat__value">
                  <span class="stat__digit">0</span>
                  <span class="stat__digit">6</span>
                </dd>
                <dt class="stat__title">hours</dt>
              </dl>

              <dl class="stat">
                <dd class="stat__value">
                  <span class="stat__digit">1</span>
                  <span class="stat__digit">3</span>
                </dd>
                <dt class="stat__title">minutes</dt>
              </dl>
            </div>
          </div>

          <a href="#" class="button button--lead">Learn More</a>
        </div>
      </div>

      <div class="l-column l-column--medium-4">
        <div class="box-dark box--shadow pad">
          <div class="hgroup">
            <h6 class="hN">Step 3</h6>
            <h4 class="hN brand-face weight-normal uppercase">Commit</h4>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi praesentium adipisci iusto, labore voluptate velit cum repudiandae inventore fuga!</p>
          <a href="#" class="button">Learn More</a>
          <a href="#" class="button">Small Groups</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
