{% extends "base.twig" %}

{% block content %}

  <header class="bg bg--jason pad">
    <h1 class="brand-face push-none">{{ post.title }}</h1>
  </header>

  <article class="box pad-ends copy" data-post-type="{{post.post_type}}" data-post-id="{{post.ID}}">

    <div class="l-row">
      <div class="l-column">
        {{post.content}}
      </div>
    </div>

  </article>

{% endblock %}

{# {% set sidebar = "Test" %} #}
