/**
 * Backgrounds
 */

$bg-breakpoints: (
  400,
  700,
  1000,
  1400,
);

.bg {
  background: getColor(g40);
  color: #FFF;
  position: relative;
  @include background-size(101% auto);
  background-repeat: no-repeat;
  background-position: center;
  @include box-shadow(inset 0 0 5px 2px rgba(#000, 0.5));
}

@mixin set-bg($name) {

  @for $i from 1 through length($bg-breakpoints) {
    $bp: nth($bg-breakpoints, $i);
    $file: "#{get(image-directory)}/bgs/#{$name}-#{$bp}";

    @if $i == 1 {

      background-image: url($file + ".jpg");

      @include media(retina) {
        background-image: url($file + "@2x.jpg");
      }

    } @else {

      @include media-query($bp + 1px) {
        background-image: url($file + ".jpg");

        @include media(retina) {
          background-image: url($file + "@2x.jpg");
        }
      }

    }

  }
}

.bg--sign {
  @include set-bg("sign");
}

.bg--jason {
  @include set-bg("jason");
}
