%light-button {
  color: #FFF;
  border-color: #FFF;

  &:after {
    border-color: #FFF;
  }
  &:hover {
    color: get(color);
    background: #FFF;
  }
}

@mixin strong-button {
  @content;
}

.box {
  color: get(color);
  background: #FFF;

  a,
  a._force {
    color: get(link-color);
  }
  // NOTE: The "body & > a" is a bit of a hack to give extra weight to links in
  // box's that are deeply embedded. Yes, I hate this...

}

.box-clear {
  color: get(color);
  background: rgba(#FFF, 0.85);
}

.box-dark {
  background: get(darker-gray, $gemini-colors);
  color: #FFF;

  a {
    color: inherit;
  }
  .button {
    @extend %light-button;
  }
}
.box-brand {
  background: get(brand-color);
  color: contrast-color(get(brand-color));

  a {
    color: inherit;
  }
  .button {
    @extend %light-button;
    &:hover {
      color: get(brand-color);
    }
  }

  .box.box--bordered {
    border: 4px solid lighten(get(brand-color), 25%);
  }
}
.box-secondary {
  background: get(secondary-color);
  color: #FFF;

  a {
    color: inherit;
  }
  .button {
    @extend %light-button;
    &:hover {
      color: get(secondary-color);
    }
  }

  .box.box--bordered {
    border: 4px solid lighten(get(secondary-color), 25%);
  }
}

  .box--shadow {
    @include box-shadow(0 1px 2px rgba(#000, 0.5));
  }

  .box--strong-shadow {
    @include box-shadow(0 0 8px rgba(#000, 0.5));
  }

  .box--right {
    width: 100%;
    margin-left: 50%;
  }

// Pretty unique :P
.box-sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  margin-left: -300px;
  left: 0;
  top: 0;
  @include box-shadow(0 0 10px rgba(#000, 0.7) inset);

  > ul {
    @include transform(translateY(50px));
    @include transition(transform 500ms ease);

    .box-wrap.is-active & {
      @include transform(translateY(0));
    }
  }
}

  // Wraps the whole page
  .box-wrap {
    @include transition(transform 200ms ease);

    &.is-active {
      @include transform(translateX(300px));
    }
  }
