/**
 * Menu Icon
 */

// This is a custom menu icon
// Check out: http://codepen.io/mattdrose/pen/aOZzKy

$menu-icon: (
  em:              15,
  color:           get(brand-color),
  bg-color:        #FFF,
  highlight-color: get(brand-color)
);

$menu-icon-bar:         get(em, $menu-icon) / 5;
$menu-icon-scale:       (get(em, $menu-icon) * sqrt(2) - $menu-icon-bar) / get(em, $menu-icon);
$menu-icon-x-translate: get(em, $menu-icon) * 0.125;
$menu-icon-y-translate: get(em, $menu-icon) * 0.125;

.menu-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: get(em, $menu-icon) * 1px;
  width: get(em, $menu-icon) * 1px;
  top: 1px;
  background: get(color, $menu-icon);
  vertical-align: text-top;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: get(em, $menu-icon) * 1px;
    height: $menu-icon-bar * 1px;
    left: 0;
    background-color: get(bg-color, $menu-icon);
    @include transition-duration(1s);
  }

  &:before {
    top: $menu-icon-bar * 1px;
  }
  &:after {
    bottom: $menu-icon-bar * 1px;
  }

  .is-active > &,
  &.is-active {
    background: get(close-color, $menu-icon);

    &:before {
      top: 2 * $menu-icon-bar * 1px;
      @include transform(rotateZ(-135deg));
    }

    &:after {
      bottom: 2 * $menu-icon-bar * 1px;
      @include transform(rotateZ(135deg));
    }
  }
}
