/**
 ********************************
 * _STATS.SCSS
 ********************************
 */

.stat__digit {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  display: inline-block;
  padding: get(spacing) / 4;
  border: 1px solid get(light-gray, $gemini-colors);
  @include border-radius(2px);
}

.stat-group--timer {
  color: get(gray, $gemini-colors);

  .stat__title {
    font-size: get(milli, $gemini-headings);
    text-align: center;
  }
  .stat__value {
    margin-bottom: get(spacing) / 4;
  }
  .stat__value--primary {
    color: get(color);
    font-weight: bold;
  }
}

.stat-group--flush {
  .stat {
    margin-bottom: 0;
  }
}
