/**
 * BUTTONS
 */

.button {
  line-height: 1;
  background: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include transition(color 250ms ease);
  @include transition(background 250ms ease);

  &:hover,
  &.is-active {
    color: #FFF;
    background: get(color, $gemini-buttons);
  }
}

.button--fancy {
  z-index: 0;
  position: relative;
  overflow: hidden;

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -999px;
    left: -999px;
    right: -999px;
    bottom: -999px;
    margin: auto;
    border: 0 solid get(color, $gemini-buttons);
    @include border-radius(50%);
    @include transition(border 250ms ease);
  }

  &:hover,
  &.is-active {
    background: transparent;

    &:after {
      border-width: 150px;
      @include transition(border 500ms ease);
    }
  }
}

.button--clean {
  border: 0;
}

.button--strong {
  @include border-radius(0);
  border-width: 0.1em;
}

.button--white {
  color: #FFF;
  border-color: #FFF;

  &:after {
    border-color: #FFF;
  }
  &:hover {
    color: get(color);
    background: #FFF;
  }
}

.button--lead {
  display: block;
  text-align: center;
  border: none;
  color: #FFF !important;
  background: get(brand-color);
  @include border-radius(0);
  line-height: 3;
  @include box-shadow(0 2px 2px rgba(#000, 0.25) inset);

  &:hover {
    background-color: get(darker-gray, $gemini-colors);
  }
}

// When you want center text with nother under the baseline
.button__baseline {
  display:inline-block;
  vertical-align: bottom;
}
