/**
 * NAVS
 */

.nav--primary {
  > li {
    float: right;
    margin-left: get(spacing);
    line-height: 5;
  }
}

.nav--sidebar {

  li {
    position: relative;
  }
  a {
    font-size: 2em;
    line-height: 1.75;
    color: inherit;
    text-decoration: none;
  }
  .nav__icon {
    text-align: center;
    width: 3rem;
  }
}
