/**
 * SPACING
 */

.pad-trip-ends {
  padding-top: get(spacing) * 3;
  padding-bottom: get(spacing) * 3;
}

.pad-quad-ends {
  padding-top: get(spacing) * 4;
  padding-bottom: get(spacing) * 4;
}

.pad-quint-ends {
  padding-top: get(spacing) * 5;
  padding-bottom: get(spacing) * 5;
}
