/**
 * Extending Forms text-input
 */

.text-input--clean {
  border: 0;
}

.text-input-prefix {
  position: relative;
  display: inline-block;

  .text-input {
    padding-left: get(spacing) * 1.25;
  }
}
  .text-input-prefix__icon {
    position: absolute;
    display: inline;
    pointer-events: none;
    top: -3px; //Weird line up hack
    left: get(spacing) / 3;
    height: 2em;
    line-height: 2em;
  }
